body{

font-family:Arial;
padding:15px;

}

.card{

border:1px solid #ddd;
padding:12px;
margin-top:10px;
border-radius:8px;
background:#fff;

}

.old{

text-decoration:line-through;
color:#999;

}

s{

color:#999;

}